*{
				list-style: none;
				text-decoration: none;
			}
			
			nav.head{
				background: #f8f8f8;
				border-bottom: 1px solid #e7e7e7;
			}
			nav.head ul li a,.logo{
				color: #777;
			}
			nav.head ul li:hover,li.active{
				background: #e7e7e7;
			}
			nav.head ul li a:hover,li.active{
				color: #555;
			}
			ul li a i{
				margin: 0px 6px;
			}
			/*-----------------------------------------------------*/
			div.al{
				margin-right: 10px;
			}




/*--------------------------------------------------------------------------------------------------*/
			footer{
				height: 70px;
				padding: 30px 0px;
				color: #000;
				vertical-align: middle;
				text-align: center;
			}